<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1 class="display-1">
        EROOOR 404
    </h1>
    <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, enim architecto iste, facilis velit maxime in pariatur alias consectetur recusandae saepe ab veniam unde dolorem repellendus quisquam, accusantium et perferendis.
    </h1>
</body>

</html>