<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>
        <%= title %>
    </title>

    <!--favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <!-- ==== common nav bar === -->
    <% include ../partials/header.ejs %>

</head>

<body>

    <!-- ==== common nav bar === -->
    <% include ../partials/nav.ejs %>

        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_text">
                    <h2>Team</h2>
                    <p>We belive in team</p>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->

        <!--================End Banner Area =================-->
        <section class="service_feature" style=" padding-bottom:5rem;">
            <div class="container">
                <div class="row feature_inner">
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="img/icon/f-icon-1.png" alt="">
                            </div>
                            <h4>Our Founder</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, culpa placeat hic ex in dolor!
                            </p>
                            <a class="more_btn" href="team#!">
                                <&nbsp;&nbsp;&nbsp;&nbsp;. />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="img/icon/f-icon-3.png" alt="">
                            </div>
                            <h4>Corporate members</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, culpa placeat hic ex in dolor!
                            </p>
                            <a class="more_btn" href="team#!">
                                <&nbsp;&nbsp;&nbsp;&nbsp;. />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="img/icon/f-icon-5.png" alt="">
                            </div>
                            <h4>Student Members</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, culpa placeat hic ex in dolor!
                            </p>
                            <a class="more_btn" href="team#!">
                                <&nbsp;&nbsp;&nbsp;&nbsp;./>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->

        <!-- ==== common footer with javaScript === -->
        <% include ../partials/footer.ejs %>

</body>

</html>