<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>
        <%= title %>
    </title>

    <!--favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <!-- ==== common nav bar === -->
    <% include ../partials/header.ejs %>

</head>

<body>

    <!-- ==== common nav bar === -->
    <% include ../partials/nav.ejs %>

        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_text">
                    <h2>Workshop</h2>
                    <p>We Are trained profesionals</p>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->

        <!--================End Banner Area =================-->
        <section class="service_feature" style="padding-bottom:5rem;">
            <div class="container">
                <div class="row feature_inner">
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="img/icon/f-icon-1.png" alt="">
                            </div>
                            <h4>Web Development</h4>
                            <p class="text-justify">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe aliquam animi numquam? Nostrum harum, sunt dolorem itaque aliquid reiciendis, quaerat ducimus illo fuga numquam dolore. Aspernatur reprehenderit asperiores pariatur eos.
                            </p>
                            <a class="more_btn" href="#!">More</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="img/icon/f-icon-3.png" alt="">
                            </div>
                            <h4>IoT</h4>
                            <p class="text-justify">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias consequatur, laudantium molestias eveniet ea ducimus tenetur sint eum qui incidunt harum quo id earum autem possimus dolore veniam rem. Voluptatum.
                            </p>
                            <a class="more_btn" href="#!">More</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="img/icon/f-icon-2.png" alt="">
                            </div>
                            <h4>App Development</h4>
                            <p class="text-justify">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, voluptates est ipsa dicta ut quaerat nobis qui architecto expedita perspiciatis illo aliquam. Provident rem, ipsa neque impedit incidunt ad doloribus.
                            </p>
                            <a class="more_btn" href="#!">More</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="img/icon/f-icon-5.png" alt="">
                            </div>
                            <h4>Front Ends Technology</h4>
                            <p class="text-justify">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, voluptates est ipsa dicta ut quaerat nobis qui architecto expedita perspiciatis illo aliquam. Provident rem, ipsa neque impedit incidunt ad doloribus.
                            </p>
                            <a class="more_btn" href="#!">More</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="img/icon/f-icon-4.png" alt="">
                            </div>
                            <h4>JavaScript</h4>
                            <p class="text-justify">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, voluptates est ipsa dicta ut quaerat nobis qui architecto expedita perspiciatis illo aliquam. Provident rem, ipsa neque impedit incidunt ad doloribus.
                            </p>
                            <a class="more_btn" href="#!">More</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="img/icon/f-icon-5.png" alt="">
                            </div>
                            <h4>Desgin</h4>
                            <p class="text-justify">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, voluptates est ipsa dicta ut quaerat nobis qui architecto expedita perspiciatis illo aliquam. Provident rem, ipsa neque impedit incidunt ad doloribus.
                            </p>
                            <a class="more_btn" href="#!">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->

        <!--================Circle Chart Area =================-->
        <section class="circle_chart_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="circle_progress circular style-polygon" data-percentage="75" data-thickness="3" data-reverse="true" data-empty-fill="transparent" data-start-color="#987dff" data-end-color="#7acaff">
                            <div class="circle_progress_inner">
                                <strong></strong>
                                <span class="percentage"></span>
                                <h4>Hard work</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="circle_progress circular style-polygon" data-percentage="83" data-thickness="3" data-reverse="true" data-empty-fill="transparent" data-start-color="#987dff" data-end-color="#7acaff">
                            <div class="circle_progress_inner">
                                <strong></strong>
                                <span class="percentage"></span>
                                <h4>Creativity</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="circle_progress circular style-polygon" data-percentage="25" data-thickness="3" data-reverse="true" data-empty-fill="transparent" data-start-color="#987dff" data-end-color="#7acaff">
                            <div class="circle_progress_inner">
                                <strong></strong>
                                <span class="percentage"></span>
                                <h4>Good luck</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="circle_progress circular style-polygon" data-percentage="95" data-thickness="3" data-reverse="true" data-empty-fill="transparent" data-start-color="#987dff" data-end-color="#7acaff">
                            <div class="circle_progress_inner">
                                <strong></strong>
                                <span class="percentage"></span>
                                <h4>Development</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Circle Chart Area =================-->

        <!-- ==== common footer with javaScript === -->
        <% include ../partials/footer.ejs %>

</body>

</html>