<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>
        <%= title %>
    </title>

    <!--favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <!-- ==== common nav bar === -->
    <% include ../../partials/header.ejs %>

</head>

<body>

    <!-- ==== common nav bar === -->
    <% include ../../partials/nav.ejs %>

        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_text">
                    <h2>Gallery</h2>
                    <p>See our best work</p>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->

        <!--================Portfolio Area =================-->
        <section class="portfolio_area">
            <div class="container">
                <div class="portfolio_filter">
                    <ul>
                        <li class="active" data-filter="*"><a href="#">All</a></li>
                        <li data-filter=".brand"><a href="#">CSR</a></li>
                        <li data-filter=".design"><a href="#">Tech Bhukkad</a></li>
                        <li data-filter=".arc"><a href="#">Workshop</a></li>
                        <li data-filter=".photo"><a href="#">Web Developent</a></li>
                        <li data-filter=".app"><a href="#">App Developent</a></li>
                    </ul>
                </div>
            </div>
            <div class="ms_portfolio_inner">
                <div class="ms_p_item wd_25 brand arc photo">
                    <img src="img/portfolio/ms-portfolio/ms-p-1.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 brand arc photo">
                    <img src="img/portfolio/ms-portfolio/ms-p-2.jpg" alt="">
                </div>
                <div class="ms_p_item wd_50 brand">
                    <img src="img/portfolio/ms-portfolio/ms-p-3.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 brand arc photo">
                    <img src="img/portfolio/ms-portfolio/ms-p-4.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 brand arc photo">
                    <img src="img/portfolio/ms-portfolio/ms-p-5.jpg" alt="">
                </div>
                <div class="ms_p_item wd_50">
                    <img src="img/portfolio/ms-portfolio/ms-p-6.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 design arc">
                    <img src="img/portfolio/ms-portfolio/ms-p-7.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 design arc">
                    <img src="img/portfolio/ms-portfolio/ms-p-8.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 design arc">
                    <img src="img/portfolio/ms-portfolio/ms-p-9.jpg" alt="">
                </div>
                <div class="ms_p_item wd_25 design arc">
                    <img src="img/portfolio/ms-portfolio/ms-p-10.jpg" alt="">
                </div>
            </div>
        </section>
        <!--================End Portfolio Area =================-->

        <!-- ==== common footer with javaScript === -->
        <% include ../../partials/footer.ejs %>

</body>

</html>