<!--================Footer Area =================-->
<footer class="footr_area">
    <div class="footer_widget_area">
        <div class="container">
            <div class="row footer_widget_inner">
                <div class="col-lg-4 col-sm-6">
                    <aside class="f_widget f_about_widget">
                        <img src="<%= domain %>/img/footer-logo.png" alt="">
                        <p>Cras ex mauris, ornare eget pretium sit amet, dignissim et turpis. Nunc nec maximus dui, vel suscipit dolor. Donec elementum velit a orci facilisis rutrum.</p>
                    </aside>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <aside class="f_widget f_insta_widget">
                        <div class="f_title">
                            <h3>Contact Us</h3>
                        </div>
                        <div class="text-light">
                            <p>
                                OOUG Office <br> 2nd floor, CSE Block <br> GIET Main Campus Autonomous, Gunupur
                            </p>
                        </div>
                        <!--
                                <ul>
                                    <li>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, illo?</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet.</p>    
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                                    </li>
                                </ul>
                                -->
                    </aside>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <aside class="f_widget f_subs_widget">
                        <div class="f_title">
                            <h3>Subscribe to Newsletter</h3>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your e-mail address here" aria-label="Your e-mail address here">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary submit_btn" type="button">Subscribe</button>
                            </span>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_copyright">
        <div class="container">
            <div class="float-sm-left">
                <h5><span class="text-light">
                        Copyright &nbsp;&copy; &nbsp; 2011 -
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &emsp; All rights reserved&nbsp;&nbsp;|&nbsp;&nbsp;Designed with &nbsp;&nbsp;<i class="fa fa-heart text-danger"
                            aria-hidden="true"></i>&nbsp;&nbsp;by&nbsp;&nbsp;</span><a href="#!">Team OOUG</a>
                </h5>
            </div>
            <div class="float-sm-right">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook-official" style="font-size:30px;" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square" style="font-size:30px;"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" style="font-size:30px;"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->


<!-- ====================JavaScript Area =================================  -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-3.2.1.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<!-- Rev slider js -->
<script src="vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>

<!-- Extra plugin css -->
<script src="vendors/counterup/jquery.waypoints.min.js"></script>
<script src="vendors/counterup/jquery.counterup.min.js"></script>
<script src="vendors/counterup/apear.js"></script>
<script src="vendors/counterup/countto.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="vendors/circle-bar/circle-progress.min.js"></script>
<script src="vendors/circle-bar/plugins.js"></script>
<script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="vendors/isotope/isotope.pkgd.min.js"></script>

<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="js/gmaps.min.js"></script>

<script src="js/circle-active.js"></script>
<script src="js/theme.js"></script>